body {
	background-color: #FBE7C6;
	font-family: 'Rajdhani', sans-serif; 
	padding: 100px; 
}

.poke-button {
	color: white;
	background-color: #9e0b0b;
	border: none;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	font-family: inherit;
	display: inline-block;
	padding: 10px;
	text-decoration: none; 
	transition: opacity .2s;  
}

.poke-button:hover {
	background-color: #4a0404;
}

.pokedex-div {
	margin: auto;
	padding: 10px;
	width: 75%;
	text-align: center;
}

.pokemon-list {
	display: grid;
	grid-template-columns: 200px 200px 200px;
	grid-gap: 30px;
	justify-content: center;
	margin: auto;
	list-style: none;

}

.modal-content {
	text-align: center;
}

.modal-header, .modal-footer {
	background-color: #9e0b0b;
}

.modal-title {
	color: white;
}

.loading-message {
	display: none;
}

.loading {
	display: block;
	position: fixed;
	bottom: 1px ;
	right: 1px ;
}




























/*This is to keep my neck from breaking*/